{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'landing/style.css' %}">
    <style>
          .tfortable {
  border-collapse: collapse;
  align:center;
  border: 10px solid #800000;
  padding-left:20px;
  width:90%;
  height:120%;
  }
.abc:hover{

  color:#800000;
  }
  .new:hover{

color:#800000;}
    </style>

</head>
{% block body %}<body></body>{% endblock %}

</html>